ErrorDocument 404 /service/errors/404.php
ErrorDocument 500 /service/errors/500.php


RewriteEngine on

RewriteRule ^[A-Za-z]{2}/(.*)$ /$1

RewriteRule ^$ /home.php [L]
RewriteRule ^(.*)/testimonials/post/([0-9]+)$ /content/testimonials/post.php?id=$2
RewriteRule ^(.*)/contracts/article/(.+)$ $1/contracts/article.php?id=$2


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]
