:root {
  --bg: white;
  --bg-trans: rgba(225, 225, 225, 0.9);
  --link: #89e365;
  --link-hover: var(--accent);
  --accent: #77bc2d;
  --dark-accent: #569413;
  --bg-hover: #e3efde;
  --main: #000000;
  --text-color: #656565;
  --border-color: #b4b4b4;
  --lighter-border-color: #e4e4e4;
  --warning-color:#de1414;
  --test-color: #ea8c12;
  --text: var(--main);
  --largecontentcolumn-width: min(80%, 1100px);
  --contentcolumn-width: min(80%, 800px);
  --base-font-size: 1.2em;
  --text-font-size: 21px;
  --small-font-size: 0.9em;
  --base-font: "Ubuntu", sans-serif;
  --font-formal: Arial, Helvetica, sans-serif;
  --header-height: 150px;
  --standardborder: 1px solid var(--lighter-border-color);
  --neatshadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--base-font);
  font-size: 1.35em;
  line-height: 1.5;

  margin:0;min-height:100%;

  width: 100vw;
  overflow-x: hidden;
}
html {
   scroll-behavior: smooth;
}
a, .fakelink {
  color: var(--link);
  text-decoration: none;
  font-weight: 400;
  transition: .1s ease;
}
a:hover, .fakelink:hover {
  color: var(--link-hover);
}
p a:hover {
  text-decoration: underline;
}
.fancyjump {
    transition: .1s ease;
}
.fancyjump:active {
    transform: translate(0, -7px);
}
p, ul, label {
  line-height: 1.5;
  font-size: var(--text-font-size);
  color: var(--text-color);
  font-weight: 300;
}
p, ul, .fakep {
  margin: 0.5em 0 1em;
}
h1 {
  font-size: 2.7em;
}
h2 {
  font-size: 1.9em;
  line-height: 1.4;
}
h3 {
  font-size: 1.3em;
  margin-bottom: 0.5em;
}
.titleBlock {
  margin: 30px 0 45px;
}
.titleBlock h1, .titleBlock h2, .titleBlock h3 {
  margin: 0;
}

.greenText {
  color: var(--link);
}
.centered {
  text-align: center;
}

.header {
  background-color: var(--bg);
  position: sticky; top: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  z-index: 5;
  border-bottom: 2px solid var(--test-color);
}
.header-wrapper {
  width: var(--largecontentcolumn-width);
  height: 100%;
  margin: auto;
  height: var(--header-height);
  position: relative;
}
.header-flex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.main-nav {
  height: 100%;
}
.nav-cont {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 50%;
}
.nav-tab-cont {
  position: relative;
}
.nav-tab-cont:hover .nav-tab-tabscont {
  display: block;
}
.nav-tab-tabscont {
  position: absolute;
  top: 100%;
  left: 0.3em;
  min-width: 10em;
  list-style-type: none;
  padding: 0.2em 0;margin: 0;
  background-color: var(--bg);
  border: var(--standardborder);
  box-shadow: var(--neatshadow);
  display: none;
}
.nav-tab, .nav-smalltab {
  letter-spacing: 0.02em;
  word-spacing: 0.1em;
  padding: 0.6em 0.9em;
  color: var(--text);
}
.nav-tab {
  font-family: "Ubuntu", sans-serif;
  margin: 0 0.3em;
  font-size: 1em;
  font-weight: bold;
  border-bottom: 2px solid var(--bg);
  transition: .2s ease;
  border-radius: 5px 5px 0 0;
}
.nav-smalltab {
  font-size: 0.9em;
}
.nav-tab:hover, .nav-smalltab:hover {
  background-color: var(--bg-hover);
  border-color: var(--accent);
}
.nav-tab.selected {
  border-color: var(--accent);
}
.lang-cont {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.allcontent {
  min-height: calc(95vh - 150px);
}
.textColumn-cont {
  text-align: left;
  margin: 50px 0 50px;
  position: relative;
}
.textColumn-cont.nopad {
  margin: 0;
}
.massivetitle {
  margin: 60px 0 60px;
}
.textColumn {
  width: var(--contentcolumn-width);
  margin: 6em auto;
}
.block-button {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
}
.button {
  background-color: var(--accent);
  color: var(--bg);
  font-family: var(--base-font);
  border: none;
  border-radius: 100px;
  margin: 0.3em;
  font-size: var(--base-font-size);
  padding: 0.6em 1em;
  transition: .2s ease;
}
.button.smal {
  font-size: calc(var(--base-font-size) - 0.2em);
  padding: 0.3em 0.6em;
}
.button:hover {
  background-color: var(--dark-accent);
  cursor: pointer;
}
.button.grey {
  background-color: var(--bg);
  border: 1px solid var(--border-color);
  color: var(--border-color);
}
.button.grey:hover {
  background-color: var(--border-color);
  color: var(--bg);
}
.button.dead {
  background-color: var(--border-color);
}


.logo-cont  {
  height: 50%;
  position: absolute;
  top: 25%; left: 0;
}
.logo-cont img {
  height: 100%;
}
.margin-bottom-0 {
  margin-bottom: 0;
}
.margin-top-0 {
  margin-top: 0;
}
.nomargin {
  margin: 0;
}
.big-margin-bottom {
  margin-bottom: 2em;
}


.footer {
  width: 100%;
  background-color: var(--accent);
  margin-top: 150px;
}
.footer *, .footer *:hover {
  color: var(--bg);
}
.footerList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 10px 10px 10px;
}
.footerBlock {
  padding: 5px 15px;
  width: 28%;
}
.bottomFooter {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  min-height: 40px;
  background-color: var(--dark-accent);
  padding: 10px;
}
.bottomFooter .flexer {
  display: flex;
  align-items: center;
}
.bottomFooter p {
  margin: 0;
}
.sharerCont {
  padding: 0 15px 0 0;
}
.sharerCont a {
  margin: 0 10px;
}
.flexer a:hover {
  text-decoration: none;
  color: var(--border-color);
}
.in-main-nav {
  height: 100%;
}
.menu-cont {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: none;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.menu-cont p {
  font-size: 50px;
}

input[type=text], textarea, select {
    -webkit-appearance: none;
    box-sizing: border-box;
    display: inline-block;
    font-size: var(--text-size);
    font-family: var(--base-font);
    padding: 10px 8px;
    margin: 4px 0;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    border-radius: 3px;
    width: 100%;
    text-align: left;
    font-weight: lighter;
  }
  ::placeholder {
    color: var(--border-color);
  }
  input[type=text]:focus, textarea:focus, select:focus {
    outline: 1px solid var(--accent);
    border-color: var(--accent);
  }
  textarea {
    resize: vertical;
  }
  input[type=checkbox] {
    -webkit-appearance:none;
    margin: 0 10px 0 0;
    width:  20px;
    height: 20px;
    border-radius: 50px;
    border: 3px solid var(--link);
    transition: .1s ease;
    position: relative;
  }
  input[type=checkbox]:hover {
    border-color: var(--link-hover);
  }
  input[type='checkbox']:checked:after {
    content: "\2713";
    position: absolute;
    color: var(--text-color);
    font-size: 170%;
    left: 0;
    bottom:-0.4rem;
  }

  .inputErr {
    font-size: var(--small-font-size);
    color: var(--border-color);
    text-align: left;
    margin: 0;
    padding-left: 0.4vw;
    font-family: var(--font-formal);
    transition: .2s;
    min-height: 10px;
    opacity: 0;
    line-height: 1.2;
  }
  .errorBoi {
    color: var(--warning-color);
    display: none;
  }
  .info {
    color: var(--border-color);
  }
  .info.italiced {
    font-style: italic;
  }
  .backA {
    display: inline-block;
    margin-bottom: 50px;
  }
  .greylink {
    border-bottom: 1px dotted;
    color: var(--border-color);
  }

  /*imgConts*/
  .imgCont {
      background-color: var(--bg);
      animation-name: imgCont;
      animation-iteration-count: infinite;
      animation-duration: 3s;
  }
  @keyframes imgCont {
      0% {
          background-color: #c9c9c9;
      }

      50% {
          background-color: #eaeaea;
      }

      100% {
          background-color: #c9c9c9;
      }
  }
  .imgCont.loaded {
      background-color: rgba(0,0,0,0);
      animation: none;
  }

@media screen and (max-width: 1000px) {
  body {
    font-size: 1.4em;
  }
  .menu-cont {
    display: flex;
  }
  .main-nav {
    background-color: var(--bg);
    position: fixed; top: calc(var(--header-height) - 1px); right: 0;
    width: 100%;
    height: calc(101vh - var(--header-height));
    transform: translateX(100%);
    transition: .2s ease;
    pointer-events: all;
  }
  .in-main-nav {
    margin-top: 50px;
    width: 100%; height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .lang-cont, .header-flex {
    display: block;
    position: relative;
  }
  .header-flex {
    width: auto; height: auto;
  }
  .nav-cont {
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid var(--border-color);
  }
  .nav-tab-cont {
    width: 100%;
  }
  .nav-tab, .nav-smalltab {
    border-bottom: 1px solid var(--border-color);
    border-radius: 0;
    margin: 0;
    font-size: 1.9em;
  }
  .nav-tab-tabscont {
    display: block;
    position: static;
    padding: 0;
    width: 100%;
    border: none; box-shadow: none;
  }
  .nav-smalltab {
    font-size: calc(1.9 * 22px);
    font-weight: bold;
    padding-left: 2em;
  }

  .header-flex, .nav-cont, .nav-cont a, .nav-tab {
    width: 100%;
  }
  .lang-cont {
    top: 0; right: 0;
    padding-left: 0.9em;
    font-size: 30px;
    padding-top: 0.5em;
  }
  .main-nav.shown {
    transform: translateX(0);
  }
}

/*contract-boxes*/
.contract-box {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  padding: 8px;
  display: flex;
  margin: 3em 0;
  box-sizing: border-box;
}
.contract-thumbnail {
  width: 15%;
}
.squareCont {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 0.5em;
}
.squareCont::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.square {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}
.square img {
  width: 100%; height: 100%;
  object-fit: cover;
}

.contractCont {
  width: 70%;
  padding: 0 5px 0 12px;
}
.contractCont p {
  margin-bottom: 0.3em;
}
.main-contract-title {
  color: var(--main);
}
.buttCont {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

/*fancy bullet points*/
.timeline {
  line-height: 1.3em;
  list-style-type: none;
  margin: 0; padding: 0;
  width: 100%;
}
.timeline-item {
  padding: 10px 0 20px 70px;
  position: relative;
}
.timeline-bar {
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 15px;
  width: 15px;
}
.timeline-bar::before {
  background-color: var(--bg);
  border: 3px solid var(--accent);
  border-radius: 100%;
  content: "";
  display: block;
  height: 20px;
  position: absolute;
  top: -5px;
  left: -7px;
  width: 20px;
  transition: background 0.3s ease-in-out,border 0.3s ease-in-out;
  z-index: 2;
}
.timeline-bar::after {
  content: "";
  width: 3px;
/*  background: var(--accent); */
  display: block;
  position: absolute;
  top: 0;
  bottom: -15px;
  left: 5px;
}
.timeline h3 {
  margin: 0 0 15px;
}
.timeline p {
  margin: 0 0 10px;
}

/*popups*/
.shader {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%; min-height: 100%;
  z-index: 6;
  overflow-y: scroll;
  display: none; opacity: 0;
  transition: .3s ease;
}
.shader.shown {
  opacity: 1;
}
.shader-closer {
  position: absolute; top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.popup {
  width: calc(var(--contentcolumn-width) + 40px);
  padding: 15px 20px;
  margin: 170px auto;
  background-color: var(--bg);
  min-height: 100px;
  border-radius: 22px;
  z-index: 7;
  pointer-events: all;
  position: relative;
}
.popup h2 {
  text-align: center;
}
.popup-closer {
  font-size: var(--base-font-size);
  position: absolute;
  top: 20px; right: 20px;
  color: var(--text-color);
}
.popup .circle-cont {
  width: 9%;
  margin: 22px auto 0;
}
.circle-cont .circle-img {
  width: 100%; height: 100%;
  object-fit: contain;
  display: block;
}

/*other*/
.test {
  border: 1px solid var(--test-color);
}
.testbutt {
  background-color: var(--test-color) !important;
}
